{% extends 'base.html' %}

{% block content %}
<ul>
{% for student in students %}
    {% if  student.status == 'active' %}
        <li>Student ID: {{student['id']}}</li>
        <li><a href="/students/{{student.id}}">Name: {{student['name']}}</a></li>
        <li>Surname: {{student['surname'] | title}}</li>
        <li>Image: <img src="{{student['img']}}" alt=""></li>
        {% if student.bio == '' %}
            <li style="margin-bottom: 20px;">I'm a student at Tech academy.</li>
        {% else %}
            <li style="margin-bottom: 20px;">Status: {{student['bio']}}</li>
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
{% endblock %}